In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import xarray as xr

In [ ]:
xr.set_options(keep_attrs=True, display_expand_data=False)
np.set_printoptions(threshold=10, edgeitems=2)

In [ ]:
ds = xr.tutorial.open_dataset("air_temperature")
ds

In [ ]:
temperature = ds['air']
temperature

In [ ]:
ds.air

In [ ]:
ds['air']

In [ ]:
temperature.values

In [ ]:
temperature.shape

In [ ]:
temperature.dims

In [ ]:
temperature.coords

In [ ]:
temperature.attrs

In [ ]:
mean_temperature = temperature.mean()
mean_temperature

In [ ]:
mean_temperature = temperature.mean(dim='time')
mean_temperature

In [ ]:
anomalies = temperature - mean_temperature
anomalies

In [ ]:
mean_temperature.plot()
plt.show()

In [ ]:
mean_temperature.plot(cmap='jet', figsize=(10,6))
plt.xlabel("Longitude")
plt.ylabel("Latitude")
plt.title("Mean Temperature")

In [ ]:
temperature.sel(lat=40.0, lon=260.0).plot()
plt.show()

In [ ]:
plt.figure(figsize=(20,6))
temperature.sel(lat=40.0, lon=260.0, method='nearest').plot()
plt.show()

In [ ]:
print(ds.data_vars)

In [ ]:
temperature=ds['air']

In [ ]:
mean_temp_ds = ds.mean(dim='time')
mean_temp_ds

In [ ]:
lat = ds.air.lat.data
lon = ds.air.lon.data
temp = ds.air.data

In [ ]:
temp.shape

In [ ]:
plt.figure()
plt.pcolormesh(lon, lat, temp[0,:,:])

In [ ]:
ds.air.isel(time=1460).plot(x='lon')

In [ ]:
ds.air.sel(time="2014-01-01T00:00:00").plot(x='lon')

In [ ]:
ds.sel(time="2013-05")

In [ ]:
ds.sel(time=slice("2013-05","2013-07"))

In [ ]:
ds.air.isel(time=0, lat=2,lon=3)

In [ ]:
seasonal_mean =ds.groupby("time.season").mean()
seasonal_mean.air.plot(col='season')

In [ ]:
cell_area =xr.ones_like(ds.air.lon)
weighted_mean = ds.weighted(cell_area).mean(dim=["lon","lat"])
weighted_mean.air.plot()

In [ ]:
ds.air.isel(time=0).rolling(lat=5, lon=5).mean().plot()

In [ ]:
plt.figure(figsize=(10,6))
temperature = ds['air'].sel(lat=40.0, lon=260.0)

temperature.plot(label="Original")

smoothed_temperature = temperature.rolling(time=20, center=True).mean()

smoothed_temperature.plot(label="Smoothed")

plt.title("Tempeature time series ")
plt.xlabel("time")

plt.ylabel("temperture")
           
plt.legend()
plt.show()

In [ ]:
ds['air'] = ds['air'].astype('float32')

ds.to_netcdf('air_temperature.nc')

In [ ]:
loadeed_data = xr.open_dataset('air_temperature.nc')
loadeed_data